.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box;
    transition: 5s;
}
