<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header text-center">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form"   #registerForm="ngForm" (ngSubmit)="registerForm.valid && onSubmit(registerForm)">
                    <div class="form-group"><!--Full NAme-->
                        <label for="fullName" class="control-label">Full Name</label>
                        <input type="text" class="form-control rounded-0" id="fullName" name="fullName" #fullName="ngModel" required [(ngModel)]="userService.userData.fullName" 
                        [ngClass]="{'invalid-textBox': registerForm.submitted && !fullName.valid}">
                         <div *ngIf="registerForm.submitted && !fullName.valid">
                             <label for="" class="invalid-message"> Full Name cannot be empty</label>
                         </div>

                    </div>
                    <div class="form-group"><!--E-mail-->
                        <label  for="email" class="control-label">E-mail</label>
                        <input type="email" class="form-control rounded-0" id="email" name="email" #email="ngModel" required [pattern]="emailRegex" [(ngModel)]="userService.userData.email"
                        [ngClass]="{'invalid-textbox': registerForm.submitted && !email.valid}">
                        <div *ngIf="registerForm.submitted && email.errors ">
                            <label for="" *ngIf="email.errors.required" class="invalid-message" >can not be Empty</label>
                            <label for="" *ngIf="email.errors.pattern">!Incorrect format</label>
                        </div>
                    </div>
                    <div class="form-group"><!--Password-->
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control rounded-0" id="password" name="password" #password="ngModel" required minlength="4"   [(ngModel)]="userService.userData.password" 
                        [ngClass]="{'invalid-textbox': registerForm.submitted && !password.valid}">
                        <div *ngIf="registerForm.submitted && password.errors">
                            <label for=""*ngIf="password.errors.required" class="invalid-message"> !Can not be empty</label>
                            <label for=""  *ngIf="password.errors.minlength" class="invalid-message"> !At least 4 charcters </label>
                        </div>
                    
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary float-right">Register</button>
                    </div>
                </form>
                <div *ngIf="showMessage"><!--reggisererd successfully-->
                    <label for="" class='succes'> User registerd successfuly </label>

                </div>
                <div><!--Error occured-->
                    <label for="" class="alert"> {{serverErrorMessage}} </label>

                </div>
            </div>
        </div>
    </div>
</div>
